<a href="https://colab.research.google.com/github/jordanfalcao/data-analytics/blob/main/Python%20e%20Pandas/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V

Python 3.7.10

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd
# pd.set_option('display.max_rows', 1000) #altera a quantidade máx de linhas mostradas na compilação
# pd.set_option('display.max_columns', 1000) #altera a quantidade máx de colunas, default são 10

In [3]:
# usa serparado ;
dataset = pd.read_csv('db.csv', sep = ';')

In [4]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [5]:
# tipos de dados pela Pandas, diferente da Numpy, pode ter mais de um tipo
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
# método .describe()
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
# método .info(), informações do dataframe
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
()

()

In [9]:
1, 2, 3

(1, 2, 3)

In [10]:
nome = 'Passat'
valor = 153999
(nome, valor)

('Passat', 153999)

In [11]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [14]:
nomes_carros[0]

'Jetta Variant'

In [15]:
nomes_carros[1]

'Passat'

In [16]:
nomes_carros[-1]

'DS5'

In [17]:
# primeiro intervalo fechado, segundo aberto
nomes_carros[1:3]

('Passat', 'Crossfox')

In [18]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [19]:
# acessando uma tupla dentro de outra tupla
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [20]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
# itera da mesma maneira que uma lista ou array
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [23]:
# destructuring
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [24]:
carro_1

'Jetta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

In [28]:
# ignorando o 1º e 3º, pegando 2º e 4º
_, a, _, b = nomes_carros

In [29]:
a

'Passat'

In [30]:
b

'DS5'

In [31]:
# o *_ ignora todo o resto
_, c, *_ = nomes_carros

In [32]:
c

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [45]:
# lista do python
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [46]:
# lista do python
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [50]:
# zip() retorna um iterador de tuplas
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [36]:
# vai imprimir cada tupla
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [37]:
# destructuring no for, separa a tupla
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [38]:
# imprimir com valores acima de 100k
for carro, valor in zip(carros, valores):
  if valor > 100000:
    print(carro, valor)

Passat 106161.94
DS5 124549.07

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [51]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [52]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [54]:
# pegando índice do 'Passat'
carros.index('Passat')

1

In [55]:
# accesando o valor correspondente de acordo com o índice setado
valores[carros.index('Passat')]

106161.94

In [58]:
# dicionários não são ordenados, pois acessamos pela chave, no print ele até muda a ordem
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [59]:
type(dados)

dict

### Criando dicionários com *zip()*

In [60]:
# só imprimindo uma lista para visualização do zip
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [61]:
# criamos dicionário a partir do zip com a função dict(), mais prático, não precisa digitar novamente
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [75]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [66]:
# ao indicar a chave, retorna o valor
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [67]:
# retorna True se for uma chave
'Passat' in dados

True

In [68]:
'Fusca' in dados

False

In [69]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [70]:
# retorna a quantidade de itens do dict
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [76]:
# adicionando um item ao dict
dados['HB20'] = 55000.67

In [77]:
dados

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [78]:
# deletar um item do dict
del dados['Passat']

In [79]:
dados

{'Crossfox': 72832.16, 'HB20': 55000.67, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [80]:
dados

{'Crossfox': 72832.16, 'HB20': 55000.67, 'Jetta Variant': 88078.64}

In [81]:
# atualiza o dict
dados.update({'Passat': 106161.94})
dados

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [107]:
# atualiza a chave existente 'Passat' e adiciona a nova 'Fusca'
# outra sintaxe abaixo
dados.update(Passat = 106161.30, Fusca = 150000)
dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

## *dict.copy()*

Cria uma cópia do dicionário.

In [89]:
# .copy cria uma cópia para podermos alterar sem modificar também o original
dados_copy = dados.copy()

In [90]:
dados_copy

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

In [91]:
del dados_copy['Fusca']
dados_copy

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

In [92]:
# dados está intacto, modificou apenas o .copy()
dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [94]:
dados_copy

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

In [95]:
# remove e retorna o valor da chave
dados_copy.pop('Passat')

106161.3

In [96]:
dados_copy

{'Crossfox': 72832.16, 'HB20': 55000.67, 'Jetta Variant': 88078.64}

In [98]:
# retorna um erro se quisermos remover uma chave inexistente
# dados_copy.pop('Passat')

In [101]:
# caso não encontre a chave, retorna um valor default atribuido
dados_copy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [102]:
# se passarmos uma chave existente, retorna o valor
dados_copy.pop('HB20', 'Chave não encontrada')

55000.67

In [103]:
dados_copy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [104]:
# limpa toda o dict
dados_copy.clear()

In [105]:
dados_copy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [108]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [109]:
# retorna todas as chaves
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [110]:
# iterando dentro do dict
for key in dados.keys():
  print(dados[key])      #[key] = 'Crossfox', 'DS5'.... 'Passat'

72832.16
124549.07
150000
88078.64
106161.95

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [111]:
# retorna todos os valores
dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [113]:
# retorna tuplas com (chave, valor)
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [114]:
for item in dados.items():
  print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.95)

In [116]:
# destructuring (desempacotamento) no dict
for key, value in dados.items():
  print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

In [118]:
# condição usando destructuring
for key, value in dados.items():
  if(value > 100000):
    print(key)

DS5
Fusca
Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [124]:
# dict
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [128]:
# quero a soma dos valores, modo difícil:
valores = []

for valor in dados.values():
  valores.append(valor)
  
valores

[88078.64, 106161.94, 72832.16]

In [130]:
# atribuimos a soma a uma variável
soma = 0

for valor in dados.values():
  soma += valor

soma

267072.74

In [133]:
# utilizando as built functions list() e sum()
# com list criamos uma lista sem precisar de loop
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [134]:
# com sum() fazemos a soma dos valores
sum(dados.values())

267072.74

In [135]:
# podemos fazer a soma com um valor inicial, não precisa escrever o nome 'start'
sum(dados.values(), start = 1000000)

1267072.7399999998

In [136]:
# help() também é uma built function
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

### Criando uma Series a partir de uma lista

### Criando um DataFrame a partir de uma lista de dicionários

In [42]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

### Criando um DataFrame a partir de um dicionário

In [43]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

### Criando um DataFrame a partir de uma arquivo externo

# 5.2 Seleções com DataFrames

### Selecionando colunas

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

# 5.3 Queries com DataFrames

### Utilizando o método query

# 5.4 Iterando com DataFrames

# 5.5 Tratamento de dados