<a href="https://colab.research.google.com/github/jordanfalcao/data-analytics/blob/main/Python%20e%20Pandas/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V

Python 3.7.10

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd
# pd.set_option('display.max_rows', 1000) #altera a quantidade máx de linhas mostradas na compilação
# pd.set_option('display.max_columns', 1000) #altera a quantidade máx de colunas, default são 10

In [3]:
# usa serparador ';' / pandas tá criando um DataFrame
dataset = pd.read_csv('db.csv', sep = ';')

In [4]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [5]:
# tipos de dados pela Pandas, diferente da Numpy, pode ter mais de um tipo
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
# método .describe()
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
# método .info(), informações do dataframe
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
()

()

In [9]:
1, 2, 3

(1, 2, 3)

In [10]:
nome = 'Passat'
valor = 153999
(nome, valor)

('Passat', 153999)

In [11]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [14]:
nomes_carros[0]

'Jetta Variant'

In [15]:
nomes_carros[1]

'Passat'

In [16]:
nomes_carros[-1]

'DS5'

In [17]:
# primeiro intervalo fechado, segundo aberto
nomes_carros[1:3]

('Passat', 'Crossfox')

In [18]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [19]:
# acessando uma tupla dentro de outra tupla
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [20]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
# itera da mesma maneira que uma lista ou array
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [23]:
# destructuring
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [24]:
carro_1

'Jetta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

In [28]:
# ignorando o 1º e 3º, pegando 2º e 4º
_, a, _, b = nomes_carros

In [29]:
a

'Passat'

In [30]:
b

'DS5'

In [31]:
# o *_ ignora todo o resto
_, c, *_ = nomes_carros

In [32]:
c

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [33]:
# lista do python
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [34]:
# lista do python
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [35]:
# zip() retorna um iterador de tuplas
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [36]:
# vai imprimir cada tupla
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [37]:
# destructuring no for, separa a tupla
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [38]:
# imprimir com valores acima de 100k
for carro, valor in zip(carros, valores):
  if valor > 100000:
    print(carro, valor)

Passat 106161.94
DS5 124549.07

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [39]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [40]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [41]:
# pegando índice do 'Passat'
carros.index('Passat')

1

In [42]:
# accesando o valor correspondente de acordo com o índice setado
valores[carros.index('Passat')]

106161.94

In [43]:
# dicionários não são ordenados, pois acessamos pela chave, no print ele até muda a ordem
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [44]:
type(dados)

dict

### Criando dicionários com *zip()*

In [45]:
# só imprimindo uma lista para visualização do zip
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [46]:
# criamos dicionário a partir do zip com a função dict(), mais prático, não precisa digitar novamente
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [47]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [48]:
# ao indicar a chave, retorna o valor
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [49]:
# retorna True se for uma chave
'Passat' in dados

True

In [50]:
'Fusca' in dados

False

In [51]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [52]:
# retorna a quantidade de itens do dict
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [53]:
# adicionando um item ao dict
dados['HB20'] = 55000.67

In [54]:
dados

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [55]:
# deletar um item do dict
del dados['Passat']

In [56]:
dados

{'Crossfox': 72832.16, 'HB20': 55000.67, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [57]:
dados

{'Crossfox': 72832.16, 'HB20': 55000.67, 'Jetta Variant': 88078.64}

In [58]:
# atualiza o dict
dados.update({'Passat': 106161.94})
dados

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [59]:
# atualiza a chave existente 'Passat' e adiciona a nova 'Fusca'
# outra sintaxe abaixo
dados.update(Passat = 106161.30, Fusca = 150000)
dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

## *dict.copy()*

Cria uma cópia do dicionário.

In [60]:
# .copy cria uma cópia para podermos alterar sem modificar também o original
dados_copy = dados.copy()

In [61]:
dados_copy

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

In [62]:
del dados_copy['Fusca']
dados_copy

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

In [63]:
# dados está intacto, modificou apenas o .copy()
dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [64]:
dados_copy

{'Crossfox': 72832.16,
 'HB20': 55000.67,
 'Jetta Variant': 88078.64,
 'Passat': 106161.3}

In [65]:
# remove e retorna o valor da chave
dados_copy.pop('Passat')

106161.3

In [66]:
dados_copy

{'Crossfox': 72832.16, 'HB20': 55000.67, 'Jetta Variant': 88078.64}

In [67]:
# retorna um erro se quisermos remover uma chave inexistente
# dados_copy.pop('Passat')

In [68]:
# caso não encontre a chave, retorna um valor default atribuido
dados_copy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [69]:
# se passarmos uma chave existente, retorna o valor
dados_copy.pop('HB20', 'Chave não encontrada')

55000.67

In [70]:
dados_copy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [71]:
# limpa toda o dict
dados_copy.clear()

In [72]:
dados_copy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [73]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [74]:
# retorna todas as chaves
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [75]:
# iterando dentro do dict
for key in dados.keys():
  print(dados[key])      #[key] = 'Crossfox', 'DS5'.... 'Passat'

72832.16
124549.07
150000
88078.64
106161.95

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [76]:
# retorna todos os valores
dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [77]:
# retorna tuplas com (chave, valor)
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [78]:
for item in dados.items():
  print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.95)

In [79]:
# destructuring (desempacotamento) no dict
for key, value in dados.items():
  print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

In [80]:
# condição usando destructuring
for key, value in dados.items():
  if(value > 100000):
    print(key)

DS5
Fusca
Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [81]:
# dict
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [82]:
# quero a soma dos valores, modo difícil:
valores = []

for valor in dados.values():
  valores.append(valor)
  
valores

[88078.64, 106161.94, 72832.16]

In [83]:
# atribuimos a soma a uma variável
soma = 0

for valor in dados.values():
  soma += valor

soma

267072.74

In [84]:
# utilizando as built functions list() e sum()
# com list criamos uma lista sem precisar de loop
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [85]:
# com sum() fazemos a soma dos valores
sum(dados.values())

267072.74

In [86]:
# podemos fazer a soma com um valor inicial, não precisa escrever o nome 'start'
sum(dados.values(), 1000000)

1267072.7399999998

In [87]:
# help() também é uma built function
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [88]:
# outra forma de perguntar sobre uma função
sum?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [89]:
# exemplo para criar função, sem parâmetro e sem retorno
def media():
  valor = (1 + 2 + 3) / 3
  print(valor)

In [90]:
# chamando a função criada
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [91]:
# exemplo de função com parâmetro, mas sem retorno
def media(n_1, n_2, n_3):
  valor = (n_1 + n_2 + n_3) / 3
  print(valor)

In [92]:
# chamando a função criada e passando parâmetro
media(4, 6, 14)

8.0

In [93]:
# podemos chamar built functions dentro da função criada
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [94]:
# chamando a função e passando como parâmetro uma lista
media([2, 5, 7, 2, 9])

5.0

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [95]:
# função que retorna valores
def media(lista):
  valor = sum(lista) / len(lista)
  return valor

In [96]:
media([3, 5, 7, 9, 11])

7.0

In [97]:
# retornando um valor, podemos atribuir esse valor a uma variável 
resultado = media([3, 5, 8, 3, 8])

In [98]:
resultado

5.4

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [99]:
# retornando mais de um valor (tupla)
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

In [100]:
# retorna uma tupla com a média e o tamanho da lista, pode atribuir um destructuring
resultado, n = media([3, 5, 7, 9, 11, 2, 10])

In [101]:
resultado

6.714285714285714

In [102]:
n

7

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [103]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [104]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [105]:
# criando uma Series atraves da Pandas
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [106]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [107]:
# criando um DataFrame a partir de uma lista com a pandas
dataset = pd.DataFrame(dados)

In [108]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [109]:
# modificando a ordem das colunas, caso queria
dataset[['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']]

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [110]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [111]:
# criando um DataFrame a partir de um dict com a pandas
dataset = pd.DataFrame(dados)

In [112]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [113]:
# criando DataFrame com arquivo externo
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0) #index_col = 0 transforma a col[0] (nome) no índice

In [114]:
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [115]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [116]:
# acionando apenas a coluona 'Valor'
dataset['Valor'].head()

Nome
Jetta Variant        88078.64
Passat              106161.94
Crossfox             72832.16
DS5                 124549.07
Aston Martin DB4     92612.10
Name: Valor, dtype: float64

In [117]:
# tipo series, ou seja, DataFrame é um conjunto de Series
type(dataset['Valor'])

pandas.core.series.Series

In [118]:
# se quisermo que retorn um DataFrame, adicionamos mais um []
dataset[['Valor']].head()

                      Valor
Nome
Jetta Variant      88078.64
Passat            106161.94
Crossfox           72832.16
DS5               124549.07
Aston Martin DB4   92612.10

In [119]:
# nota-se que agora o tipo é DataFrame por causa dos [[]]
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [120]:
# funciona igual listas, primeiro intervalo fechado, segundo aberto
dataset[0:3]

                         Motor  ...      Valor
Nome                            ...
Jetta Variant  Motor 4.0 Turbo  ...   88078.64
Passat            Motor Diesel  ...  106161.94
Crossfox       Motor Diesel V8  ...   72832.16

[3 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [121]:
# nesse caso retorna uma Series com os dados de 'Passat
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [122]:
# acrescenta outro [] p/ retornar em forma de DataFrame
dataset.loc[['Passat', 'DS5']] # pode passar mais de um parâmetro

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [123]:
# caso queira apenas colunas específicas
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [124]:
# caso queira todas as linhas ':', mas apenas as duas colunas especificadas
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [125]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [126]:
# os rótulos são os índices números
dataset.iloc[1] # índica [1] = 'Passat'

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [127]:
# caso queira em forma de DataFrame
dataset.iloc[[1]]

               Motor  ...      Valor
Nome                  ...
Passat  Motor Diesel  ...  106161.94

[1 rows x 6 columns]

In [128]:
# neste caso, não precisa [[]], pois pega-se mais de uma linha
dataset.iloc[1:4]

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

In [129]:
# selecionando linhas e colunas específicas (mudou a ordem das colunas)
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [130]:
# linhas específicas
dataset.iloc[[1, 42, 22], [0, 5, 2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [131]:
dataset.iloc[:, [0, 5, 2]]

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

# 5.3 Queries com DataFrames

In [132]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [133]:
# outra forma de buscar uma coluna
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [134]:
# retorna uma Series booleana (todos com Motor Diesel = True)
select = dataset.Motor == 'Motor Diesel'

In [135]:
type(select)

pandas.core.series.Series

In [136]:
# faz uma query com todos os Motor Diesel
dataset[select]

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [137]:
# Motor Diesel e Zero_km == True
dataset[(select) & (dataset.Zero_km == True)]

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

In [138]:
(select) & (dataset.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

### Utilizando o método query

In [139]:
# utilizando o método query(), troca o & pelo and / '""' ou "''"
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

# 5.4 Iterando com DataFrames

In [140]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [141]:
# retorna os rótulos, mas não faz muit sentido
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [ ]:
# método iterativo, list() para visualizar
list(dataset.iterrows()) # cria tuplas com o indice e as linhas

In [147]:
# pareceido com o zip, aplica destructuring
# criando nova coluna Km_media
for index, row in dataset.iterrows():  
  if (2019 - row['Ano'] != 0):    # tratando erro
    dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
  else:
    dataset.loc[index, 'Km_media'] = 0

dataset

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

# 5.5 Tratamento de dados

In [148]:
dataset.head()

                            Motor   Ano  ...      Valor     Km_media
Nome                                     ...
Jetta Variant     Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat               Motor Diesel  1991  ...  106161.94   204.000000
Crossfox          Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5               Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4  Motor 2.4 Turbo  2006  ...   92612.10  1981.307692

[5 rows x 7 columns]

In [149]:
# coluna Quilometragem tem menos info não nula
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

In [150]:
# isna() seleciona info nulas
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [151]:
# selecionamos apenas os nulos
dataset[dataset.Quilometragem.isna()]

                                Motor   Ano  ...      Valor  Km_media
Nome                                         ...
DS5                   Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                    Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                           Motor V6  2019  ...   53183.38       0.0
A3                       Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                    Motor V8  2019  ...   94564.40       0.0
...                               ...   ...  ...        ...       ...
Lamborghini Reventón  Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                   Motor V8  2019  ...  126247.84       0.0
Uno                   Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                  Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [152]:
# fillna() preenche os nulos com o parâmetro setado
# inplace = True para fixar esses valores no DataFrame, cc só visualiza
dataset.fillna(0, inplace = True)

In [154]:
# notamos que alterou as Quilometragem para 0, em vez de NaN
dataset.query("Zero_km == True")

                                Motor   Ano  ...      Valor  Km_media
Nome                                         ...
DS5                   Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                    Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                           Motor V6  2019  ...   53183.38       0.0
A3                       Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                    Motor V8  2019  ...   94564.40       0.0
...                               ...   ...  ...        ...       ...
Lamborghini Reventón  Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                   Motor V8  2019  ...  126247.84       0.0
Uno                   Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                  Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [155]:
# corrigimos o problema dos dados nulos
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  258 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

In [158]:
# novo import para selecionar o DataFrame inicial
dataset = pd.read_csv('db.csv', sep = ';')

In [159]:
# notamos o problema novamente
dataset.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [162]:
# podemos excluir valores nulos com .dropna()
# usamos dropna() fillna() dependendo do objetivo
dataset.dropna(subset = ['Quilometragem'], inplace = True)

In [161]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]