In [1]:
import pandas as pd

In [6]:
s = pd.Series(list('sadsaddsgkjasdsds'))
s

0     s
1     a
2     d
3     s
4     a
5     d
6     d
7     s
8     g
9     k
10    j
11    a
12    s
13    d
14    s
15    d
16    s
dtype: object

In [7]:
# valores únicos 
s.unique()

array(['s', 'a', 'd', 'g', 'k', 'j'], dtype=object)

In [8]:
# conta quanto cada variável (aplicável p/ Series)
s.value_counts()

s    6
d    5
a    3
g    1
j    1
k    1
dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [14]:
# valores únicos da coluna 'Tipo' (aplicável p/ Series)
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [17]:
# contador
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64