In [1]:
# selecionando as colunas 'id, account_id, occurred_at' da tabela 'orders'
# SELECT id, account_id, occurred_at
# FROM orders